.heading {
    color: white;
    position: absolute;
    top: 200px;
    left: 600px;
}

.video {
    width: 100%;
    margin: 30px 0;
    background: rgba( 254, 230, 169, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border-radius: 10px;
}

.container > p {
    width: 30%;
    position: absolute;
    padding: 5px 10px;
    background: rgba( 254, 230, 169, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.first-paragraph {
    bottom: 250px;
    left: 150px;
}

.second-paragraph {
    bottom: -100px;
    left: 870px;
}
