.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.login-form {
    width: 50%;
    
}

.login-form > fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba( 74, 144, 226, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.login-form > fieldset > legend {
    color: white;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    background: rgba( 208, 2, 27, 0.50 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20.0px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 100%;
}

.login-form > fieldset > label {
    color: white;
    margin-bottom: 15px;
    font-size: x-large;
}

.login-form > fieldset > input {
    margin-bottom: 30px;
    padding: 7px;
}

.login-form > fieldset > button {
    color: white;
    margin: 20px 0;
    padding: 5px 15px;
    background: rgba( 74, 144, 226, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.login-form > fieldset > button:hover {
    cursor: pointer;
    letter-spacing: 2px;
}
