.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.create-form {
    width: 50%;
}

.create-form > fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba( 74, 144, 226, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.create-form > fieldset > label {
    color: white;
    margin-bottom: 15px;
    font-size: x-large;
}

.create-form > fieldset > input {
    margin-bottom: 30px;
    padding: 7px;
}

.create-form > fieldset > div > label {
    color: white;
    margin-bottom: 15px;
    font-size: x-large;
}

select {
    margin-bottom: 30px;
    padding: 7px;
    outline: none;
    font-size: 20px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.create-form > fieldset > button {
    color: white;
    margin: 20px 0;
    padding: 5px 15px;
    background: rgba( 116, 229, 0, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}