@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.heading {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-size: 20px;
    border-radius: 20px;
    background-color: black;
    opacity: 60%;
    border: 2px solid #AF1EA3;
}

.heading-logo {
    display: flex;
    align-items: flex-end;
}

.heading-logo > h3 {
    font-family: 'Great Vibes', cursive;
    margin-right: 80px;
    color: white;
}

.nav > ul {
    display: flex;
}

.logo {
    height: 25px;
    margin: 0 10px;
}

.creator {
    display: flex;
    justify-content: center;
    color: white;
}