@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://use.fontawesome.com/releases/v5.13.0/css/all.css');

.heading {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-size: 18px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.heading-logo {
    display: flex;
    align-items: baseline;
}

.heading-logo > h3 {
    font-family: 'Great Vibes', cursive;
    margin-right: 80px;
    color: white;
    cursor: pointer;
}

.nav > ul {
    display: flex;
    align-items: center;
    margin-right: 0;
}

.nav > ul > input {
    width: 20%;
    margin-left: 20px;
    padding: 5px 10px;
    border-end-end-radius: 0;
    border-start-start-radius: 0;
}

.nav > ul > input::placeholder {
    color: white;
}

.logo {
    height: 25px;
    margin: 0 10px;
}

.creator {
    display: flex;
    justify-content: center;
    color: white;
}

.creator-wrapper {
    flex-basis: 100%;
}

i {
    color: white;
    margin-left: 5px;
    padding: 5px;
    font-size: 15px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 10px;
    border-end-end-radius: 0;
    border-start-start-radius: 0;
}

i:hover {
    cursor: pointer;
}