@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.heading {
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    border-radius: 20px;
    background: #0870CF;
    background: -webkit-linear-gradient(left, #0870CF, #9A3C21);
    background: -moz-linear-gradient(left, #0870CF, #9A3C21);
    background: linear-gradient(to right, #0870CF, #9A3C21);
}

.heading-logo {
    display: flex;
}

.heading-logo {
    margin-top: -5px;
}

.heading-logo > h3 {
    font-family: 'Great Vibes', cursive;
    margin-right: 100px;
}

.nav > ul {
    display: flex;
}

.logo {
    height: 25px;
    margin: 0 10px;
}