footer {
    display: flex;
    justify-content: space-evenly;
}

ul {
    display: flex;
    margin-right: 150px;
}

p {
    font-family: 'Charmonman', cursive;
    font-weight: bold;
    color: #CAC440;
}