footer {
    display: flex;
    justify-content: space-evenly;
    border-radius: 20px;
    background-color: black;
    opacity: 80%;
    border: 2px solid white;
}

ul {
    display: flex;
    margin-right: 150px;
}

p {
    font-family: 'Charmonman', cursive;
    font-weight: bold;
    color: #CAC440;
}