@import url('https://fonts.googleapis.com/css2?family=Charmonman&display=swap');

li {
    list-style: none;
    margin-right: 30px;
}

a {
    text-decoration: none;
}

a:hover {
    color: #c0c0c0;
}

li:hover {
    transform: scale(1.3);
}

.link {
    font-family: 'Charmonman', cursive;
    font-weight: bold;
    color: white;
}
