@import url('https://fonts.googleapis.com/css2?family=Charmonman&display=swap');

li {
    list-style: none;
    margin-right: 30px;
}

.link {
    font-family: 'Charmonman', cursive;
    font-weight: bold;
    color: #603518;
}