li {
    list-style: none;
    margin-right: 20px;
}

a {
    text-decoration: none;
}

li:hover {
    transform: scale(1.3);
}

.link {
    font-family: 'Helvetica', sans-serif;
    font-weight: bold;
    color: white;
}
